In [1]:
# INTRODUCTION TO LIST DATATYPE

In [2]:
# LIST - A list is a collection of items in a particular order 

#classification - it is classified as mutable datatype

In [3]:
#how to define list : []

In [4]:
# example:

In [5]:
companies = ['ibm','cisco','accenture','samsung','wipro','siemens']
print(companies)

['ibm', 'cisco', 'accenture', 'samsung', 'wipro', 'siemens']

In [6]:
type(companies)

list

In [7]:
# the type is a list

In [8]:
# intro to indexing

In [9]:
#starts from 0,1,2,3,......

In [10]:
# req - i want to access accenture in the ouptut

In [11]:
print(companies[2])

accenture

In [12]:
print(companies[2].title())

Accenture

In [13]:
print(companies[3].title())

Samsung

In [14]:
# 3 SCENARIOS

In [15]:
#how to add new elements in the list

In [16]:
# i want to telsa in the companies list

In [17]:
students.append('telsa') #append is a method to add element in the list

NameError: name 'students' is not defined

In [18]:
companies.append('telsa')

In [19]:
print(companies)

['ibm', 'cisco', 'accenture', 'samsung', 'wipro', 'siemens', 'telsa']

In [20]:
# req - i want to add "infosys" to the list in the 2nd position

In [21]:
companies.insert(2,'infosys')

In [22]:
print(companies)

['ibm', 'cisco', 'infosys', 'accenture', 'samsung', 'wipro', 'siemens', 'telsa']

In [23]:
companies.insert(3,'siemens')

In [24]:
print(companies)

['ibm', 'cisco', 'infosys', 'siemens', 'accenture', 'samsung', 'wipro', 'siemens', 'telsa']

In [25]:
#insert is the method to add the elements in the particular position

In [26]:
#2ND SCENARIO

In [27]:
#req - replace cisco to cessna

In [28]:
companies[1]='cessna'

In [29]:
print(companies)

['ibm', 'cessna', 'infosys', 'siemens', 'accenture', 'samsung', 'wipro', 'siemens', 'telsa']

In [30]:
# 3RD SCENARIO

In [32]:
#APPROACH1

In [33]:
 # req : want to delete 'infosys'

In [34]:
del companies[2]

In [35]:
print(companies)

['ibm', 'cessna', 'siemens', 'accenture', 'samsung', 'wipro', 'siemens', 'telsa']

In [36]:
#APPROACH 2:

# POP METHOD - its temporary

In [37]:
print(companies)

['ibm', 'cessna', 'siemens', 'accenture', 'samsung', 'wipro', 'siemens', 'telsa']

In [38]:
x = companies.pop()

In [39]:
print(companies)

['ibm', 'cessna', 'siemens', 'accenture', 'samsung', 'wipro', 'siemens']

In [40]:
# popped out the last one telsa

In [41]:
print(x)

telsa

In [42]:
abc = companies.pop(3)

In [43]:
print(y)

NameError: name 'y' is not defined

In [44]:
print(abc)

accenture

In [45]:
print(companies)

['ibm', 'cessna', 'siemens', 'samsung', 'wipro', 'siemens']

In [46]:
xyz = companies.pop(2)

In [47]:
print(xyz)

siemens